.screen {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: #9DBEBB;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 954px;
    height: 594px;
    border: #BE0909 solid 2px;
}

button {
    color: #FEFFFF;
    background-color: #468189;
    border-radius: 40px;
    border-style: none;
    font-size: 18px;
    font-family: "Roboto", serif;
    height: 48px;
    width: 202px;
    position: absolute;
    bottom: 64px;
    left: 164px;
}

.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 65px;
    top:64px;
    gap: 30px;
    height: 362px;
    justify-content: space-between;
}

.main__container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle__red {
    width: 954px;
    height: 594px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #BE0909;
}

.rectangle__orange {
    width: 345px;
    height: 594px;
    background-color: #FFB039;
}

img {
    position: absolute;
    top: 52px;
    left: 342px;
    width: 663px;
    height: 603px;
}

.form__segment {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
    font-style: normal;
    color: #FEFFFF;
}

.form__text {
    background-color: transparent;
    color: #FEFFFF;
    border: none;
    border-bottom: 0.2px solid;
    border-color: #FEFFFF;
    width: 400px;
}

.form__input {
    background-color: transparent;
    color: #FEFFFF;
    border: none;
    border-bottom: 0.2px solid;
    border-color: #FEFFFF;
    width: 160;
}

.form__label {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
}

::placeholder {
    color: #FEFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    letter-spacing: 30%;
    line-height: auto;
    font-style: normal;
}

button:hover {
    background-color: #1f555c;
}

.form__input:hover {
    background-color: #aa0505;
}

.form__text:hover {
    background-color: #aa0505;
}